			.Lionel
			{
				text-align: center;		
			}
			.Locomotive
			{
				text: Locomotive;
			}
			.Tender
			{
				text: Tender;
			}
			.Electric vehicle
			{
				text: Electric vehicle;
			}
			.Caboose
			{
				text: Caboose;
			}
			.Gondala car
			{
				text: Gondala;
			}
			.Cattle car
			{
				text: Cattle car;
			}
			.Operating milk car
			
				text: Operating milk car;
			}
			.Search light car
			{
				text: Search light car;
			}
			.Coal hopper car
			{
				text: Coal hopper car;
			}
			.Refrigerator car
			{
				text: Refrigerator car;
			}
			.Operating log car
			{
				text: Operating log car;
			}
			.Box car
			{
				text: Box car;
			}